<div class="login-container">
  <div class="login-image">
    <img src="assets/pht.png" alt="Login Image" />
  </div>
  <div class="login-box">
    <div class="login-logo">
      <img src="assets/logochp.png" alt="Login Logo" />
    </div>
    <h1>Login to your Account</h1>
    <div class="login-inputs">
      <input type="text" placeholder="Username" [(ngModel)]="username" />
      <input type="password" placeholder="Password" [(ngModel)]="password" />
    </div>
    <div class="login-options">
      <div class="remember-me">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember me</label>
      </div>
      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
    <div class="login-button" (click)="login()">Login</div>
    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
